:root{
    --white: #fff;
    --azul:#2A7AE4;
    --azul-claro:#D4E4FA;
    --preto: #464646;
    --cinza: #A2A2A2;
    --font-family: 'Raleway', sans-serif;

}
*{
    box-sizing: border-box;
}
body,html,a,button,textarea{
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    color: var(--preto);
}
.container{
    max-width: 91vw;
    margin: 0 auto;
}

@media screen and (min-width:1024px) {
    .container{
        max-width: 79vw;
    }
}