.produto {
    max-width: 47.56%;
    height: 249px;
    position: relative;
   display: grid;
   grid-column: auto;
   grid-template-rows: 7fr 3fr;
    img {
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
   
    }
    &__controles{
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 1;
    }
    &__delete{
        content: url(../../assets/delete.svg);
        margin-right: 8px;
        &:hover{
            cursor: pointer;
        }
    }
    
    &__edit{
        content: url(../../assets/edit.svg);
        &:hover{
            cursor: pointer;
        }
    }

    figcaption {
        grid-row: 2 / 3;
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .produto__titulo {
            color: var(--preto);
            font-size: 14px;

        }

        .produto__preco {
            font-weight: 700;
            font-size: 16px;
        }

        a{
            color: var(--azul);
            font-size: 14px;
            font-weight: 700;
            text-decoration: none;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 600px) {


    .produto {
        max-width: 23.3%;
    
        figcaption {

            .produto__preco {
                font-size: 16px;
            }

        }
    }

}


@media screen and (min-width: 1024px) {

    .produto {
        
       max-width: 15.5%;

    }

}